<%- include('partials/header'); -%>

<header>
  <div class="hummingbird">
    <img src="/hummingbird.png" alt="">
  </div>
  <div class="headings">
    <h2>Hummingbird Variants</h2>
    <h3>By Hummingbirds for birdies</h3>
    <a href="/hummingbirds" class="btn">View Variants</a>
  </div>
</header>


<%- include('partials/footer'); -%>