<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/hummingbird.png" alt="hummingbird recipe icon">
    <h4>Hummingbird</h4>
    <p>Hummingbirds choose their favorite locations based on geography, as well as a combination of natural nectar sources and well-placed feeders.</p>
  </li>
  <li class="recipe">
    <img src="/hummingbird.png" alt="hummingbird recipe icon">
    <h4>Hummingbird</h4>
    <p>They can travel 500 miles in a single go</p>
  </li>
  <li class="recipe">
    <img src="/hummingbird.png" alt="hummingbird recipe icon">
    <h4>Hummingbird</h4>
    <p>Hummers are diurnal.</p>
  </li>
  <li class="recipe">
    <img src="/hummingbird.png" alt="hummingbird recipe icon">
    <h4>Hummingbird</h4>
    <p>Hummingbirds choose their favorite locations based on geography, as well as a combination of natural nectar sources and well-placed feeders.</p>
  </li>
  <li class="recipe">
    <img src="/hummingbird.png" alt="hummingbird recipe icon">
    <h4>Hummingbird</h4>
    <p>They can travel 500 miles in a single go</p>
  </li>
  <li class="recipe">
    <img src="/hummingbird.png" alt="hummingbird recipe icon">
    <h4>Hummingbird</h4>
    <p>Hummers are diurnal.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>